


body{
    margin: 0;
    padding: 0;

}

/* Juan Camilo Echeverri Florez */

#grow-section{
   max-width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 1.5rem 1rem;
  
}

#grow-section>div{
   text-align: center;
   margin-top: 1.5rem;
}


#grow-section img{
   width: 75%;
   max-width: 320px;
}

#grow-section h2{
   font-size: 1.5rem;
   margin-bottom: 1rem
}

@media screen and (min-width: 768px) {
   #grow-section{
      flex-direction: row;
   }

}


#flowing-section{
   max-width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 1.5rem 1rem;
  
}

#flowing-section>div{
   text-align: center;
   margin-top: 1.5rem;
}


#flowing-section img{
   width: 75%;
   max-width: 320px;
}

#flowing-section h2{
   font-size: 1.5rem;
   margin-bottom: 1rem
}

@media screen and (min-width: 768px) {
   #flowing-section{
      flex-direction: row;
   }

}

/* ROBERT ESCALANTE GOMEZ */

.aside-div-tres{
   display: flex;
   background: #F6FBFF;
   align-items: center;
 
   
   
}

.aside-div-cuatro{
   margin-bottom: 100px;
}

.aside-div-cuatro h3{
   text-align: center;
}

.div-boton-aside{
   text-align: center;
}
.aside-div-secundario-tres{
   align-self: center;
   padding: 100px;
 flex: 1;

 
}
.div-svg-tres{
   padding: 0 50px;
}



.aside-div-secundario-tres h3{
   font-size: 35px;
   font-weight: 600;
 
}

.aside-div-secundario-tres p{
   font-size: 20px;
}



.aside-div-secundario-tres h3,p{
   text-align: left;
}


.aside-div-cuatro .boton2{
   padding: 15px 50px;
   border-radius: 30px;
   background: #ff40a0;
border-color: #ff40a0;
box-shadow: 0px 2px 9px 1px rgba(0,0,0,0.12);
-webkit-box-shadow: 0px 2px 9px 1px rgba(0,0,0,0.12);
-moz-box-shadow: 0px 2px 9px 1px rgba(0,0,0,0.12);
color: white;
}

.aside-div-cuatro h3{
   font-size:35px ;
}


.div-svg-tres img{
   width: 100%;
}

footer{
 
   color: white;
   background: #00252E;
   display: flex;
}

.svgfooter {
  
   height: 156px;
}




.footer-uno{
   padding:  50px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.footer-email p,.footer-telefono p{
   margin: 5px 0;
   
}

.footer-email svg,.footer-telefono svg{
   margin-right: 10px;
}

.footer-uno p{
 
  
   padding-right: 300px;
   white-space:pre-line
}

.footer-redes{
   color: white;
   padding:30px 0;
   padding-bottom: 0;
  
  
}

.footer-redes i{
   margin: 0 10px;
}




.footer-dos{
   display: flex;
   flex-direction: column;

   padding: 50px;
}

.footer-dos h4{
   text-align: start;
   margin-bottom: 0;
}

.inputBoton{
   text-align: start;
}

.boton-footer{
   background: #ff40a0;
   border-color: #ff40a0;
   color: white;
   margin-left: 10px;
   border-radius: 5px;
   padding:5px 20px;
}


.texto-footer{
   padding: 5px 0;
   margin-top: 10px;
   margin-bottom: 10px;
}

.footer-dos p{
   white-space:pre-line
}




@media screen and (max-width:768px){

 

     .aside-div-tres{
         display: flex;
         flex-direction:column;
        
          
       }

      .div-svg-tres{
          
           order: -1;
       
        padding-top: 50px;
        padding-bottom: 20px;
       }

      

      .aside-div-secundario-tres{
           padding: 0 30px;
       }

       .aside-div-secundario-tres p{
           text-align: center;
          
       }

       .aside-div-secundario-tres h3{
           text-align: center;
           margin: 30px 0;
       }

       footer{
          
           flex-direction: column;
       }

       .footer-uno p{
           padding: 0;
       }

       .footer-dos{
           order: -1;
       }

       .inputBoton{
           display: flex;
           flex-direction: column;
           align-items: flex-end;
        
       }

       .boton-footer{
           margin-left: 0;
         
       }

       .inputBoton input{
           margin-bottom: 10px;
       }

      .texto-footer{
          width: 100%;
         
      }
    }
